/* Bootstrap Grid
--------------------------------------------- */
@import 'node_modules/bootstrap/scss/bootstrap-grid';

/* Generic
--------------------------------------------- */
@import "generic/normalize";
@import "generic/box-sizing";

/* Abstracts
--------------------------------------------- */
// Import variables and mixins.
@import "abstracts/abstracts";

/* Base
--------------------------------------------- */
@import "base/base";

/* Layout
--------------------------------------------- */
@import "layout/footer";

/* Components
--------------------------------------------- */
@import "components/hero";
@import "components/skills";
@import "components/project";
@import "components/contact-block";
@import "components/section";
@import "components/buttons";
@import "components/icons";
@import "components/navigation";
