.contact-block {
	background-color: #fff;
	padding: var(--space-lg);
	border-radius: .5rem;
	box-shadow: 0 3px 15px 0 rgba(0,0,0,0.2);
	text-align: center;

	&__details {
		font-size: 1.25rem;
		color: $color__text-main;
		margin: 15px 0 10px 0;
	}

	&__prompt {
		font-weight: 600;
		color: $color__brand-blue;
		text-transform: uppercase;
		letter-spacing: .125rem;
	}
}

@include media-breakpoint-up(lg) {
	.contact-block {
		min-width: 17.5rem;

		&__details {
			font-size: 1.5rem;
		}
	}
}