.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: var(--space-md);
	padding-bottom: var(--space-xl);

	&__image {
		width: 14rem;
		border-radius: 50%;
	}

	&__content {
		text-align: center;
		margin-top: var(--space-md);
	}

	&__heading {
		margin-top: 1rem;
	}

	&__sub-heading {
		display: inline-block;
		font-weight: 600;
		color: $color__brand-blue;
		padding: 0 var(--space-xxs) var(--space-xs);
		text-transform: uppercase;
		letter-spacing: .125rem;
		border-bottom: .25rem solid $color__brand-blue;
	}

	&__text {
		margin-bottom: 1.85rem;
	}

	&__socials {
		display: flex;
		justify-content: center;
		gap: 1rem;
	}
}

@include media-breakpoint-up(lg) {
	.hero {
		flex-direction: row;
		justify-content: center;
		padding-top: 10.5rem;
		padding-bottom: var(--space-xxl);

		&__image {
			width: 22rem;
		}

		&__content {
			text-align: left;
			margin-top: 0;
			margin-left: var(--space-xxl);
		}

		&__text {font-size: 1.25rem}

		&__socials {
			justify-content: left;
		}
	}
}
