.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	padding-top: 1.25rem;
	padding-bottom: 3.25rem;

	&__image {
		max-width: 220px;
		border-radius: 50%;
		width: 100%;
	}

	&__content {
		flex-basis: 50%;
		text-align: center;

		.hero__heading {
			margin-top: 1rem;
		}

		.hero__text {
			margin-bottom: 1.85rem;
		}
	}

	&__socials {
		display: flex;
		justify-content: center;
		gap: 1rem;
	}
}

@media screen and (min-width: $screen__large) {
	.hero {
		flex-direction: row;
		justify-content: center;
		gap: 5rem;
		padding-top: 10.5rem;
		padding-bottom: 6.25rem;

		&__image {
			max-width: 350px;
		}

		&__content {
			text-align: left;

			.hero__text {font-size: 1.25rem}
		}

		&__socials {
			justify-content: left;
		}
	}
}
