.icon {
	display: inline-block;
	padding: var(--space-xs);
	border-radius: .5rem;
	transition: box-shadow .2s;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);

	.icon__image {
		width: 1.5rem;
		vertical-align: middle;
	}

	@media (hover: hover) {
		&:hover {
			box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4); 
		}
	}
}