.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: transform 0.2s;
	background-color: #fff;
	padding: var(--space-md) 0;

	&.headroom--pinned {
		transform: translateY(0);
	}

	&.headroom--unpinned {
		transform: translateY(-100%);
	}

	.navbar__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.nav {
			display: flex;
		
			.nav__item {
				+ * {
					margin-left: var(--space-lg);
				}

				.nav__link {
					color: $color__text-main;
					text-transform: uppercase;
					font-weight: 500;
					letter-spacing: 1px;
					padding: var(--space-xs);

					@media (hover: hover) {
						position: relative;
						transition: color .3s ease;

						&::after {
							content: "";
							position: absolute;
							bottom: 0;
							left: 0;
							height: 4px;
							width: 0;
							background: $color__brand-blue;
							transition: width .3s ease;
						}

						&:hover {
							color: $color__brand-blue;

							&::after {
								width: 100%;
							}
						}
					}
				}
			}
		}
	
		.navbar__logo {
			width: 3.44rem;
		}
	
		.navbar__toggle {
			display: none;
		}
	}
}

@media screen and (max-width: $screen__large) { 
	.navbar {
		position: static;

		.navbar__inner {
			.navbar__toggle {
				display: block;
				transition: all 0.2s;
				background: none;
				border: none;
				cursor: pointer;
				z-index: 1;
	
				span {
					display: block;
					height: 3px;
					width: 40px;
					background-color: $color__text-main;
					border-radius: 5px;
					margin: 10px 0;
					transition: all .65s cubic-bezier(0.075, 0.82, 0.165, 1);
				}
			}

			.nav {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100vw;
				height: 100vh;
				transform: translateX(-100%);
				z-index: 1;
				background-color: #000;
				opacity: 0.8;
				transition: transform 0.5s;
				padding-top: 100px;
				text-align: center;
	
				&.open {
					transform: translateX(0px);
	
					+ .navbar__toggle {
						transform: rotate(45deg) scale(.8);
	
						span {
							background-color: $color__brand-blue;
	
							&:first-child {
								transform: translateY(13px) rotate(0deg);
							}
	
							&:nth-child(2) {
								opacity: 0;
							}
	
							&:last-child {
								transform: translateY(-13px) rotate(90deg);
							}
						}
					}
				}
	
				.nav__item {
					margin-left: 0;
					margin-bottom: var(--space-lg);
	
					.nav__link {
						font-size: 1.75rem;
						color: #fff;
					}
				}
			}
		}
	} 
}
