.project {
	display: flex;
	flex-direction: column;
	padding: var(--space-lg);
	border-radius: var(--space-sm);
	box-shadow: 0 3px 15px 0 rgba(0,0,0,0.2);

	.project__info {
		margin-top: var(--space-md);

		.project__header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
	
			.project__title {
				margin-top: 0;
			}

			.project__tag {
				display: inline-block;
				font-size: .8rem;
				font-weight: 500;
				padding: var(--space-xs) var(--space-sm);
				color: $color__brand-blue;
				white-space: nowrap;
				border: 1px solid $color__brand-blue;
				border-radius: .3rem;

				+ * {
					margin-left: var(--space-xs);
				}
			}
		}

		.project__link-item {
			display: inline;

			+ * {
				margin-left: var(--space-md);
			}

			.project__link {
				font-weight: 600;
			}
		}
	}

	.project__image {
		flex-grow: 1;
		border: 1px solid rgba(0, 0, 0, 0.2);
		border-radius: .5rem;
	}
}

@include media-breakpoint-up(lg) {
	.project {
		flex-direction: row;

		.project__info {
			margin-left: var(--space-lg);
			margin-top: 0;
		}

		.project__image {
			height: 13.75rem;
		}
	}
}
