.skills {
	display: flex;
	flex-wrap: wrap;
	row-gap: var(--space-xl);

	&__item {
		text-align: center;
		flex-grow: 1;
		flex-basis: 30%;
		padding: 0 var(--space-xxs);
	}

	&__image {height: 2.5rem;}

	&__label {
		display: block;
		font-size: .8rem;
		font-weight: 500;
	}
}

@include media-breakpoint-up(lg) {
	.skills {
		&__item {flex-basis: 20%;}

		&__label {font-size: 1rem;}
	}
}