.skills {
	display: flex;
	flex-wrap: wrap;

	.skills__item {
		text-align: center;
		flex: 1 30%;
		padding: 0 5px;
		margin-bottom: 60px;
		font-weight: 500;

		.skills__image {
			height: 40px;
		}

		.skills__label {
			display: block;
			margin-top: 10px;
		}
	}
}

@media screen and (min-width: $screen__large) {
	.skills {
		.skills__item {
			flex-basis: 20%;
		}
	}
}