$multiplier__small: 0.6;
$multiplier__medium: 0.8;

h1, h2, h3, h4, h5 {
	margin: 3rem 0 1.38rem;
	font-weight: 600;
	line-height: 1.3;
}
  
h1 {
	margin-top: 0;
	@include to_rem($font-size__h1 * $multiplier__small)
}

h2 {@include to_rem($font-size__h2 * $multiplier__small)}

h3 {@include to_rem($font-size__h3 * $multiplier__small)}

h4 {@include to_rem($font-size__h4 * $multiplier__small)}

h5 {@include to_rem($font-size__h5 * $multiplier__small)}

small {
	display: inline-block;
	font-size: 0.75rem;
	font-weight: 600;
	color: $color__brand-blue;
	padding: 0 5px 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-bottom: 4px solid $color__brand-blue;
}

@media screen and (min-width: $screen__small) {
	h1 {@include to_rem($font-size__h1 * $multiplier__medium)}

	h2 {@include to_rem($font-size__h2 * $multiplier__medium)}

	h3 {@include to_rem($font-size__h3 * $multiplier__medium)}

	h4 {@include to_rem($font-size__h4 * $multiplier__medium)}

	h5 {@include to_rem($font-size__h5 * $multiplier__medium)}
}

@media screen and (min-width: $screen__large) {
	h1 {@include to_rem($font-size__h1)}

	h2 {@include to_rem($font-size__h2)}

	h3 {@include to_rem($font-size__h3)}

	h4 {@include to_rem($font-size__h4)}

	h5 {@include to_rem($font-size__h5)}
}
