html {font-size: var(--font-size)};

body {
    color: $color__text-main;
	font-family: $font__main;
	font-weight: 400;
	line-height: 1.75;
}

@include media-breakpoint-up(lg) {
	html {
		font-size: calc(var(--font-size) * 1.25);
	}
}

@import "headings";
@import "copy";
