.icon {
	display: inline-block;
	padding: 10px;
	border-radius: 5px;
	transition: box-shadow .2s;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);

	img {
		width: 25px;
		vertical-align: middle;
	}

	&:hover {
		box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4); 
	}
}