@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

$font__main: 'Raleway', sans-serif;

// $font__size: 100%;
// $font__ratio: 1.2;
// $font__ratio-large: 1.333;

// $font__size-small: calc($font__size / $font__ratio);
// $font__size-h5: $font__size * $font__ratio;
// $font__size-h4: $font__size-h5 * $font__ratio;
// $font__size-h3: $font__size-h4 * $font__ratio;
// $font__size-h2: $font__size-h3 * $font__ratio;
// $font__size-h1: $font__size-h2 * $font__ratio;

// $font__size-small-large: calc($font__size / $font__ratio-large);
// $font__size-h5-large: $font__size * $font__ratio-large;
// $font__size-h4-large: $font__size-h5-large * $font__ratio-large;
// $font__size-h3-large: $font__size-h4-large * $font__ratio-large;
// $font__size-h2-large: $font__size-h3-large * $font__ratio-large;
// $font__size-h1-large: $font__size-h2-large * $font__ratio-large;

:root {
    --font-size: 100%;
    --font-size-base: 1rem;
    --font-ratio: 1.2;
    --font-ratio-lg: 1.333;
    --font-size-small: calc(var(--font-size-base) / var(--font-ratio));
    --font-size-h5: calc(var(--font-size-base) * var(--font-ratio));
    --font-size-h4: calc(var(--font-size-h5) * var(--font-ratio));
    --font-size-h3: calc(var(--font-size-h4) * var(--font-ratio));
    --font-size-h2: calc(var(--font-size-h3) * var(--font-ratio));
    --font-size-h1: calc(var(--font-size-h2) * var(--font-ratio));
  }

  @include media-breakpoint-up(lg) {
    :root {
        --font-ratio: var(--font-ratio-lg);
    }
  }
