.contact__social,
.contact__email {
	text-align: center;

	p {
		font-size: 24px;
		color: $color__text-main;
		margin: 15px 0 10px 0;
	}

	small {
		color: $color__brand-blue;
		border-bottom: none;
	}
}

@media screen and (max-width: 768px) {
	.contact__email,
	.contact__social {
		p {
			font-size: 20px;
		}
	}
}